page-home {


 .content {
     background: #2c4241;
   
    }

    .message {
        padding: 6;
        border-radius: 6;
        margin-top: 10;
        max-width: 80%;
    }

    .message-left {
        background: #fff;
    }

    .message-right {
        background: #d1edc1;
        float: right;
    }
}
